@page
@model IndexModel
@{
    ViewData["Title"] = "Homey page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Doug's World!!</h1>
  </div>
<div class="text-center">
    <h3 >
        @ViewData["Greeting"]
    </h3>
</div>